<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Batres</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="body-contacto">

    <header class="header">
        <div class="header__logo">
            <img src="" alt="">
        </div>
        <nav class="navegacion" id="nav" data-visible="false">
            <a class="navegacion__link" href="index.html">Sobre Mi</a>
            <a class="navegacion__link" href="proyectos">Proyectos</a>
            <a class="navegacion__link" href="mas">Mas</a>
            <a class="navegacion__link activo" href="contacto">Contacto</a>
        </nav>
    <a class="enlace-mostrar-ocultar-menu enlace-negro">=</a>
    </header>

    <main class="main">

        <div class="main__contenedor">
             
             <div class="comentarios__grid">
                <div class="comentarios">

                    <h3 class="comentarios__heading">Agrega un comentario</h3>
                    <form action="/contacto" method="post" class="comentarios__formulario">
                        <div class="comentarios__campo">
                            <label for="nombre" class="comentarios__label">Nombre</label>
                            <input id="nombre" type="text" class="comentarios__input" name="nombre">
                        </div>
                        <div class="comentarios__campo">
                            <label for="apellido" class="comentarios__label">Apellido</label>
                            <input id="apellido" type="text" class="comentarios__input" name="apellido">
                        </div>
                        <div class="comentarios__campo">
                            <label for="comentario" class="comentarios__label">Comentario</label>
                            <textarea class="comentarios__textarea" id="comentario" cols="30" rows="1" name="comentario"></textarea>
                            <!-- <input id="comentario" type="text" class="comentarios__input" name="comentario"> -->
                        </div>
                        <input class="comentarios__boton btn" type="submit" value="Comentar">
                    </form>
                </div>
                
            </div>
            <!-- //ESTE CODIGO MUESTRA LOS DATOS DE LA BD EN LA VISTA -->
            <div class="mostrar-comentarios"> 
                <h3 class="mostrar-comentarios__heading">Comentarios</h3>
                <div class=""> 
                    <!-- Marcador de posición para comentarios -->
                    <!-- {{comentarios}} -->
                </div>
            </div>

        </div>
 
     </main>


    <footer class="footer">
        <div class="footer__contenedor">
            <p class="footer__parrafo text-center">alejandrobatres</p>
        </div>
    </footer>

    <!-- IONICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <script src="/contacto.js"></script>
    <script src="/global.js"></script>
</body>
</html>

