<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Batres</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="body">

    <header class="header">

        <div class="header__contenedor">
            <div class="header__barra">
                <div class="header__logo">
                    <img src="" alt="">
                </div>
                <nav class="navegacion">
                    <a class="navegacion__link" href="index.html">Sobre Mi</a>
                    <a class="navegacion__link" href="proyectos">Proyectos</a>
                    <a class="navegacion__link activo" href="mas">Mas</a>
                    <a class="navegacion__link" href="contacto">Contacto</a>
                </nav>
            </div>
        </div>
       
    </header>

    <main class="main">

        <div class="main__contenedor">
             
             <div class="main__grid">
                 <!-- <div class="pokemons__container"></div> -->
                 <nav class="navegacion-apis">
                    <a href="consumo-apis/pokemon" class="navegacion-apis__link">Pokédex <img class="navegacion-apis__link--icono" src="/pokeball.png" alt=""> </a>
                    <a href="" class="navegacion-apis__link">API 2</a>
                    <a href="" class="navegacion-apis__link">API 3</a>
                </nav>
             </div>

        </div>
 
     </main>


    <footer class="footer">
        <div class="footer__contenedor">
            <p class="footer__parrafo text-center">alejandrobatres</p>
        </div>
    </footer>

    <!-- IONICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>