<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Batres</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="body-proyectos">

    <header class="header">
        <div class="header__logo">
            <img src="" alt="">
        </div>
        <nav class="navegacion" id="nav" data-visible="false">
            <a class="navegacion__link" href="index.html">Sobre Mi</a>
            <a class="navegacion__link activo" href="proyectos">Proyectos</a>
            <a class="navegacion__link" href="mas">Mas</a>
            <a class="navegacion__link" href="contacto">Contacto</a>
        </nav>
    <a class="enlace-mostrar-ocultar-menu enlace-negro">=</a>
    </header>

    <main class="main">

        <div class="main__contenedor">
             
             <div class="proyectos">
                <div class="proyecto">
                    <h3 class="proyecto__heading">Seguimiento Pacientes Clínica Dental</h3>
                    <div class="proyecto__informacion">
                        <p class="proyecto__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta nostrum, possimus expedita, alias saepe suscipit dolores aperiam nam iure asperiores, cum odio? Commodi, neque! Inventore nihil recusandae esse a. Vero?</p>
                        <!-- <h4 class="tecnologias__heading">Tecnologías Usadas</h4> -->
                    </div>
                    <div class="proyecto__imagen">
                        <img src="../public/img/proyecto01.png" alt="">
                    </div>
                    <hr/>
                    <div class="tecnologias__iconos">
                        <ion-icon name="logo-javascript"></ion-icon>
                        <ion-icon name="logo-react"></ion-icon>
                        <img class="logo-tailwind" src="../public/img/logo-tailwind.svg" alt="">
                    </div>
                </div>

                <div class="proyecto">
                    <h3 class="proyecto__heading">Seguimiento Pacientes Clínica Dental</h3>
                    <div class="proyecto__informacion">
                        <p class="proyecto__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta nostrum, possimus expedita, alias saepe suscipit dolores aperiam nam iure asperiores, cum odio? Commodi, neque! Inventore nihil recusandae esse a. Vero?</p>
                        <!-- <h4 class="tecnologias__heading">Tecnologías Usadas</h4> -->
                    </div>
                    <div class="proyecto__imagen">
                        <img src="../public/img/proyecto01.png" alt="">
                    </div>
                    <hr/>
                    <div class="tecnologias__iconos">
                        <ion-icon name="logo-javascript"></ion-icon>
                        <ion-icon name="logo-react"></ion-icon>
                        <img class="logo-tailwind" src="../public/img/logo-tailwind.svg" alt="">
                    </div>
                </div>
                
                

             </div>
        </div>
 
     </main>


    <footer class="footer">
        <div class="footer__contenedor">
            <p class="footer__parrafo text-center">alejandrobatres</p>
        </div>
    </footer>

    <!-- IONICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <script src="/global.js"></script>
</body>
</html>