<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Batres | Portafolio</title>
    <link rel="icon" type="image/svg+xml" href="/public/img/code-slash-outline.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="body-proyectos">

    <header class="header">
        <div class="header__logo">
            <a href="#" class="header__logo-negro"><ion-icon name="code-slash-outline"></ion-icon></a>
        </div>
        <nav class="navegacion" id="nav" data-visible="false">
            <a class="navegacion__link" href="index.html">Sobre Mi</a>
            <a class="navegacion__link activo" href="proyectos">Proyectos</a>
            <a class="navegacion__link" href="mas">Mas</a>
            <a class="navegacion__link" href="contacto">Contacto</a>
        </nav>
    <a class="enlace-mostrar-ocultar-menu enlace-negro">=</a>
    </header>

    <main class="main">
        <div class="main__contenedor">
             <div class="proyectos">
                <h3 class="heading__proyectos">Proyectos</h3>
                <div class="proyecto">
                    <div class="proyecto__informacion">
                        <h4 class="proyecto__heading">Seguimiento Pacientes Clínica Dental</h4><a class="enlace-proyecto" href="https://citas-clinica-dental-react.netlify.app/" target="_blank"><img class="icono-flecha" src="/arrow-up-outline.svg" alt="icono-flecha"></a>
                        <p class="proyecto__texto">Esta aplicacion web permite crear, listar, editar y eliminar pacientes; dichos pacientes son almacenados en Local storage.</p>
                    </div>
                    <div class="proyecto__imagen">
                        <a href="https://citas-clinica-dental-react.netlify.app/" target="_blank">
                            <img class="imagen-movil" src="/clinica-dental-movil.jpg" alt="clinica-detal">
                            <img class="imagen-escritorio" src="/clinica-dental-escritorio.png" alt="clinica-detal">
                        </a>
                    </div>
                    <hr/>
                    <div class="logos__tecnologias">
                        <div class="logo-github">
                           <a href="https://github.com/m-alejandro19/citas-clinica-dental-react" target="_blank"><img class="logo__tecGit" src="../public/img/logo-github.svg" alt="logo-github"></a>
                        </div>
                        <div class="logos-tech">
                            <img class="logo__tecnologia" src="../public/img/logo-javascript.svg" alt="logo-js">
                            <img class="logo__tecnologia" src="../public/img/logo-react.svg" alt="logo-react">
                            <img class="logo__tecnologia" src="../public/img/logo-tailwind.svg" alt="logo-tailwind">
                        </div>
                    </div>
                </div>
                <div class="proyecto">
                    <div class="proyecto__informacion">
                        <h4 class="proyecto__heading">Control de Gastos React</h4><a class="enlace-proyecto" href="https://proyecto-control-gastos-react.netlify.app/" target="_blank"><img class="icono-flecha" src="/arrow-up-outline.svg" alt="icono-flecha"></a>
                        <p class="proyecto__texto">Planificador de gastos React es una aplicación web que permite definir un presupuesto e ir agregando gastos, asignarles una categoría y luego filtrarlos por la misma; también se puede editar o eliminar gastos. Los datos son almacenados en Local Storage, lo cual da la posibilidad de cerrar el navegador y tanto el presupuesto como los gastos no se perderán.</p>
                    </div>
                    <div class="proyecto__imagen">
                        <a href="https://proyecto-control-gastos-react.netlify.app/" target="_blank">
                            <img class="imagen-movil" src="/control-gastos-movil.jpg" alt="control-gastos">
                            <img class="imagen-escritorio" src="/control-gastos-escritorio.png" alt="control-gastos">
                        </a>
                    </div>
                    <hr/>
                    <div class="logos__tecnologias">
                        <div class="logo-github">
                           <a href="https://github.com/m-alejandro19/control-gastos-react" target="_blank"><img class="logo__tecGit" src="../public/img/logo-github.svg" alt="logo-github"></a>
                        </div>
                        <div class="logos-tech">
                            <img class="logo__tecnologia" src="../public/img/logo-javascript.svg" alt="logo-js">
                            <img class="logo__tecnologia" src="../public/img/logo-react.svg" alt="logo-react">
                        </div>
                    </div>
                </div>
                <div class="proyecto">
                    <div class="proyecto__informacion">
                        <h4 class="proyecto__heading">Ecommerce Tienda de Muebles</h4><a class="enlace-proyecto" href="https://ecommerce-tienda-muebles19.netlify.app/" target="_blank"><img class="icono-flecha" src="/arrow-up-outline.svg" alt="icono-flecha"></a>
                        <p class="proyecto__texto">Este sitio web está elaborado con HTML y CSS, cuenta con 6 páginas y es completamente responsive.</p>
                    </div>
                    <div class="proyecto__imagen">
                        <a href="https://ecommerce-tienda-muebles19.netlify.app/" target="_blank">
                            <img class="imagen-movil" src="/tienda-muebles-movil.jpg" alt="ecommerce">
                            <img class="imagen-escritorio" src="/tienda-muebles-escritorio.png" alt="ecommerce">
                        </a>
                    </div>
                    <hr/>
                    <div class="logos__tecnologias">
                        <div class="logo-github">
                           <a href="https://github.com/m-alejandro19/tienda-muebles" target="_blank"><img class="logo__tecGit" src="../public/img/logo-github.svg" alt="logo-github"></a>
                        </div>
                        <div class="logos-tech">
                            <img class="logo__tecnologia" src="../public/img/logo-html5.svg" alt="logo-html">
                            <img class="logo__tecnologia" src="../public/img/logo-css3.svg" alt="logo-css">
                        </div>
                    </div>
                </div>
                <div class="proyecto">
                    <div class="proyecto__informacion">
                        <h4 class="proyecto__heading">Arquitectura en el Bosque</h4><a class="enlace-proyecto" href="https://arquitectura-en-el-bosque.netlify.app/" target="_blank"><img class="icono-flecha" src="/arrow-up-outline.svg" alt="icono-flecha"></a>
                        <p class="proyecto__texto">Esta página web denominada "Arquitectura en el bosque" cuenta con una sola página, lo importante a destacar es la forma en que muestra las imágenes; está elaborada con HTML y CSS y es completamente responsive.</p>
                    </div>
                    <div class="proyecto__imagen">
                        <a href="https://arquitectura-en-el-bosque.netlify.app/" target="_blank">
                            <img class="imagen-movil" src="/arquitectura-movil.jpg" alt="arquitectura">
                            <img class="imagen-escritorio" src="/arquitectura-escritorio.png" alt="arquitectura">
                        </a>
                    </div>
                    <hr/>
                    <div class="logos__tecnologias">
                        <div class="logo-github">
                           <a href="https://github.com/m-alejandro19/arquitectura" target="_blank"><img class="logo__tecGit" src="../public/img/logo-github.svg" alt="logo-github"></a>
                        </div>
                        <div class="logos-tech">
                            <img class="logo__tecnologia" src="../public/img/logo-html5.svg" alt="logo-html">
                            <img class="logo__tecnologia" src="../public/img/logo-css3.svg" alt="logo-css">
                        </div>
                    </div>
                </div>
                <div class="proyecto">
                    <div class="proyecto__informacion">
                        <h4 class="proyecto__heading">Nucleus - eWallet</h4><a class="enlace-proyecto" href="https://nucleus-ewallet19.netlify.app/" target="_blank"><img class="icono-flecha" src="/arrow-up-outline.svg" alt="icono-flecha"></a>
                        <p class="proyecto__texto">Página web elaborada con HTML y CSS es 100% responsive; destaca su diseño moderno y la excelente combinación de colores que posee.</p>
                    </div>
                    <div class="proyecto__imagen">
                        <a href="https://nucleus-ewallet19.netlify.app/" target="_blank">
                            <img class="imagen-movil" src="/nucleus-movil.jpg" alt="nucleus-ewallet">
                            <img class="imagen-escritorio" src="/nucleus-escritorio.png" alt="nucleus-ewallet">
                        </a>
                    </div>
                    <hr/>
                    <div class="logos__tecnologias">
                        <div class="logo-github">
                           <a href="https://github.com/m-alejandro19/nucleus-ewallet" target="_blank"><img class="logo__tecGit" src="../public/img/logo-github.svg" alt="logo-github"></a>
                        </div>
                        <div class="logos-tech">
                            <img class="logo__tecnologia" src="../public/img/logo-html5.svg" alt="logo-html">
                            <img class="logo__tecnologia" src="../public/img/logo-css3.svg" alt="logo-css">
                        </div>
                    </div>
                </div>
             </div>
        </div>
     </main>
    <footer class="footer">
        <div class="footer__contenedor">
            <p class="footer__parrafo text-center">alejandrobatres</p>
        </div>
    </footer>

    <!-- IONICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/global.js"></script>
</body>
</html>