<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alejandro Batres | Portafolio</title>
    <link rel="icon" type="image/svg+xml" href="/public/img/code-slash-outline.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/styles.css">
</head>
<body class="body-proyectos">

    <header class="header">
        <div class="header__logo">
            <a href="#" class="header__logo-negro"><ion-icon name="code-slash-outline"></ion-icon></a>
        </div>
        <nav class="navegacion" id="nav" data-visible="false">
            <a class="navegacion__link" href="index.html">Sobre Mi</a>
            <a class="navegacion__link activo" href="proyectos">Proyectos</a>
            <a class="navegacion__link" href="mas">Mas</a>
            <a class="navegacion__link" href="contacto">Contacto</a>
        </nav>
    <a class="enlace-mostrar-ocultar-menu enlace-negro">=</a>
    </header>

    <main class="main">
        <div class="main__contenedor">
             <div class="proyectos">
                <h3 class="heading__proyectos">Proyectos</h3>
                <div class="proyecto">
                    <div class="proyecto__informacion">
                        <h4 class="proyecto__heading">Seguimiento Pacientes Clínica Dental</h4><a class="enlace-proyecto" href="https://citas-clinica-dental-react.netlify.app/" target="_blank"><img class="icono-flecha" src="/arrow-up-outline.svg" alt=""></a>
                        <p class="proyecto__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta nostrum, possimus expedita, alias saepe suscipit dolores aperiam nam iure asperiores, cum odio? Commodi, neque! Inventore nihil recusandae esse a. Vero?</p>
                    </div>
                    <div class="proyecto__imagen">
                        <a href="https://citas-clinica-dental-react.netlify.app/" target="_blank">
                            <img class="imagen-movil" src="/clinica-dental-movil.jpg" alt="clinica-detal">
                            <img class="imagen-tablet" src="/clinica-dental-tablet.png" alt="clinica-detal">
                        </a>
                    </div>
                    <hr/>
                    <div class="logos__tecnologias">
                        <div class="logo-github">
                           <a href="https://github.com/m-alejandro19/citas-clinica-dental-react" target="_blank"><img class="logo__tecGit" src="../public/img/logo-github.svg" alt="logo-github"></a>
                        </div>
                        <div class="logos-tech">
                            <img class="logo__tecnologia" src="../public/img/logo-javascript.svg" alt="logo-js">
                            <img class="logo__tecnologia" src="../public/img/logo-react.svg" alt="logo-react">
                            <img class="logo__tecnologia" src="../public/img/logo-tailwind.svg" alt="logo-tailwind">
                        </div>
                    </div>
                </div>
                <div class="proyecto">
                    <div class="proyecto__informacion">
                        <h4 class="proyecto__heading">Control de Gastos React</h4><a class="enlace-proyecto" href="https://proyecto-control-gastos-react.netlify.app/" target="_blank"><img class="icono-flecha" src="/arrow-up-outline.svg" alt=""></a>
                        <p class="proyecto__texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta nostrum, possimus expedita, alias saepe suscipit dolores aperiam nam iure asperiores, cum odio? Commodi, neque! Inventore nihil recusandae esse a. Vero?</p>
                    </div>
                    <div class="proyecto__imagen">
                        <a href="" target="_blank">
                            <!-- <img class="imagen-movil" src="/clinica-dental-movil.jpg" alt="clinica-detal">
                            <img class="imagen-tablet" src="/clinica-dental-tablet.png" alt="clinica-detal"> -->
                        </a>
                    </div>
                    <hr/>
                    <div class="logos__tecnologias">
                        <div class="logo-github">
                           <a href="https://github.com/m-alejandro19/control-gastos-react" target="_blank"><img class="logo__tecGit" src="../public/img/logo-github.svg" alt="logo-github"></a>
                        </div>
                        <div class="logos-tech">
                            <img class="logo__tecnologia" src="../public/img/logo-javascript.svg" alt="logo-js">
                            <img class="logo__tecnologia" src="../public/img/logo-react.svg" alt="logo-react">
                        </div>
                    </div>
                </div>
             </div>
        </div>
     </main>
    <footer class="footer">
        <div class="footer__contenedor">
            <p class="footer__parrafo text-center">alejandrobatres</p>
        </div>
    </footer>

    <!-- IONICONS -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/global.js"></script>
</body>
</html>