/*CUSTOM PROPERTIES*/
:root {
    /*PALETA DE COLORES*/
    --primario: #3B3B3B;
    --secundario: #4f4f4f;
    --blanco: #f6f6f6;
    --rojo: #fa2d2d;
    --rojoPokemon: #e3350d;
    --grisClaro: #acacac;
    --grisClaro2: #e2e2e2;

    --separacion: 5rem; /*1rem = 10px*/

    /*FUENTES*/
    --fuentePrincipal: 'Roboto', sans-serif;
    /* --fuenteSecundaria: */
    --fuenteH1: 'Philosopher', sans-serif;
    --fuenteFooter: 'Libre Barcode 39 Text', sans-serif;
    --sombra: 0 4px 8px rgba(0, 0, 0, 0.1);
    --sombraBlanca: 0 4px 8px rgba(255, 255, 255, 0.1);
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    line-height: 1.5;
}
/*CONTENEDOR*/
[class$="__contenedor"] {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
h1, h2, h3 {
    font-weight: 700;
    margin: calc(var(--separacion)/2) 0;
}
h1 {
    font-size: 4.4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 2.8rem;
    margin: 0;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
}
a {
    color: var(--blanco);
    text-decoration: none;
}
hr{
    width: 100%;
    margin: 3rem 0 0 0;
}   
.activo {
    color: var(--rojo);
}

/*UTILIDADES*/
.text-center {
    text-align: center;
}

/*--------------------------------------------------------------------------------------------------------------*/
.body {
    background-image: url(/background-body.svg);
}
/*INICIO HEADER*/
.header {
    background-color: var(--primario);
    padding: 0;
    position: fixed;
    top: 0;
    /* CENTRA EL HEADER DESPUES DE APLICAR FIXED */
    left: 0;
    right: 0;
    height: 0;
}
@media (min-width: 768px) {
    .header {
        padding: var(--separacion) 0;
        display: flex;
        align-items: center;
        width: 100%;
    }
}
.header__contenedor {
    
}
.header__logo {
   display: inline-block;
   margin-left: 47%;
   margin-top: 1.3rem;
}
@media (min-width: 768px){
    .header__logo {
        display: none;
     }
}
.header__logo a {
    font-size: 4rem;
    font-weight: 500;
}
.header__logo-negro {
    color: var(--primario);
}
.navegacion {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: -.3rem;
    /* MUEVE EL NAV A LA DERECHA */
    margin-left: auto;
    background-color: var(--primario);
    border-radius: 5px;
}
@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        column-gap: 2rem;
        width: 100%;
        margin-top: 0;
        /* CENTRA ENLACES HORIZONTALMENTE */
        justify-content: center;
        align-items: center;
    }
}
@media (min-width: 1024px) {
    .navegacion {
        column-gap: 6rem;
    }
}
#nav{
    /* OCULAR HEADER EN MOVIL */
    opacity: 0;
    transform: translateY(-120%);
    transition: all 500ms ease-out;
}
#nav[data-visible="true"]{
    opacity: 1;
    transform: translateY(0);
}
@media (min-width: 768px){
    #nav{
        opacity: 1;
        transform: translateY(0);
        transition: none;
    }
}
.navegacion__link {
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    padding: 2rem 0 2rem 3rem;
}
.navegacion__link:hover {
    color: var(--grisClaro);
}
@media (min-width: 768px){
    .navegacion__link {
        width: auto;
        padding: 0;
        font-size: 1.8rem;
    }
}
@media (min-width: 1024px){
    .navegacion__link {
        font-size: 2.2rem;
    }
}
.enlace-mostrar-ocultar-menu{
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 5rem;
    color: var(--blanco);
    font-weight: 500;
    cursor: pointer;
}
.enlace-mostrar-ocultar-menu:hover{
    color: var(--grisClaro2);
}
.enlace-negro{
    color: var(--primario);
}
.enlace-negro:hover{
    color: var(--secundario);
}
@media (min-width: 768px){
    .enlace-mostrar-ocultar-menu{
        display: none;
    }
}
/*FIN  HEADER*/

/*INICIO MAIN*/
.main {
    margin-bottom: var(--separacion);
    /* EVITA QUE EL MAIN QUEDE BAJO EL HEADER AL APLICAR FIXED */
    margin-top: 15rem;
}
@media (min-width: 768px) {
    .main {
        
    }
}
@media (min-width: 1024px) {
    .main {
        margin-bottom: calc( var(--separacion) * 3);
        /* EVITA QUE EL MAIN QUEDE BAJO EL HEADER AL APLICAR FIXED */
        margin-top: 25rem; 
    }
}
.main__grid {
    height: auto;
    background-color: var(--blanco);
    display: flex;
    align-items: start;
    border-radius: 10px;
    padding: var(--separacion) 0;
    margin-bottom: var(--separacion);
    box-shadow: var(--sombra);
}
@media(min-width: 1024px) {
    .main__grid {
        margin-bottom: 15rem;
    }
}
.main__contenido {
    line-height: 1.1;
    height: 35rem;
    display: grid;
    grid-template-rows: 75% 25%;
}
@media (min-width: 768px) {
    .main__contenido {
        grid-template-rows: unset;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
}
.main__contenedor-foto-perfil {
    height: 26.25rem;
    width: 26.25rem;
    border-radius: 50%;
    box-shadow: 0 0 30px rgba(250, 45, 45, 0.5); /* Sombra alrededor del círculo */
    margin: 0 auto;
    background-color: var(--primario);
    border: 1px solid var(--rojo);
}
@media (min-width: 768px){
    .main__contenedor-foto-perfil {
        margin: 0;
    }
}
@media (min-width: 1024px) {
    .main__contenedor-foto-perfil {
        height: 35rem;
        width: 35rem;
    }
}
.main__contenedor-presentacion{
    margin-top: 1.5rem;
}
@media (min-width: 768px){
    .main__contenedor-presentacion{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}
@media (min-width: 768px) {
    .main__contenedor-presentacion{
        margin-top: 0;
    }
}
.main__presentacion-contenedor {
    width: 12rem;
    background-color: var(--primario);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: .5rem 0;
}
@media (min-width: 768px){
    .main__presentacion-contenedor {
        width: 15rem;
    }
}
@media (min-width: 1024px) {
    .main__presentacion-contenedor {
        width: 20rem;
        border-radius: 28px;
    }
}
.main__presentacion {
    margin: 0;
    font-size: 2.3rem;
    font-weight: 900;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .main__presentacion {
        font-size: 2.8rem;
    }
}
@media (min-width: 1024px) {
    .main__presentacion {
        font-size: 4rem;
    }
}
.main__heading {
    font-family: var(--fuenteH1);
    font-size: 3rem;
    margin: 0;
}
@media (min-width: 768px) {
    .main__heading {
        font-size: 3.5rem;
    }
}
@media (min-width: 1024px){
    .main__heading {
        font-size: 4.5rem;
    } 
}
.degradado {
    color: transparent;
    background: linear-gradient(to right, var(--blanco) 0%, var(--rojo) 100% );
    /*DEFINE A QUE PARTE DEL ELEMENTO QUEREMOS AGREGARLE EL BACKGROUND*/
    -webkit-background-clip: text;
}
.main__headingSpan {
    font-size: 3.2rem;
}
@media (min-width: 768px) {
    .main__headingSpan {
        font-size: 3.7rem;
    }
}
@media (min-width: 1024px) {
    .main__headingSpan {
        font-size: 4.7rem;
    }
}
.main__profesion {
    margin: 0;
    color: var(--blanco);
    font-weight: 900;
    font-size: 2rem;
}

@media (min-width: 768px){
    .main__profesion {
        font-size: 2.5rem;
    } 
}
@media (min-width: 1024px){
    .main__profesion {
        font-size: 3.2rem;
    } 
}
.main__profesionSpan {
    color: var(--rojo);
}
.descargar-cv {
    cursor: pointer;
    background-color: var(--primario);
    border: none;
    border-radius: 20px;
    padding: 1rem 3rem;
    color: var(--blanco);
    font-weight: 700;
    box-shadow: var(--sombraBlanca);
    margin-top: 1.5rem;
    width: 100%;
    border: 1px solid var(--blanco);
}
@media (min-width: 768px){
    .descargar-cv {
        margin: 4rem auto 0 auto;
        max-width: 75%;
    }
}
@media (min-width: 1024px){
    .descargar-cv{
        margin: 2.5rem 0 0 0;
        max-width: 55%;
        font-size: 2rem;
    }
}
#map {
    height: 40rem;
    width: 100%;
    background-color: var(--blanco);
}
/* INICIO MAIN PROYECTOS */
.body-proyectos{
    background-color: var(--grisClaro2);
}
.proyectos{

}
.heading__proyectos {
    margin-bottom: 4rem;
}
@media (min-width: 768px) {
    .heading__proyectos {
        font-size: 3.5rem;
    }
}
@media (min-width: 1024px) {
    .heading__proyectos {
        font-size: 5.5rem;
    }
}
.proyecto{
    background-color: var(--blanco);
    height: auto;
    width: 100%;
    margin: 0 auto;
    display: grid;
    border-radius: 10px;
    padding: 3rem 1.5rem 0;
    box-shadow: var(--sombra);
    margin-bottom: var(--separacion);
}
@media (min-width: 768px){
    .proyecto{
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}
@media (min-width: 1024px){
    .proyecto{
        padding: 4rem 2rem 0;
    }
}
.proyecto__informacion {
    width: 100%; 
    padding-bottom: 2rem;
}
@media (min-width: 768px){
    .proyecto__informacion {
        grid-column: 2/5;
    }
}
@media (min-width: 1024px){
    .proyecto__informacion {
        grid-column: 3/5;
    }
}
.proyecto__heading {
    margin: 0;
    line-height: 1.3;
    display: inline;
    font-size: 1.6rem;
    padding-right: .5rem;
}
@media (min-width: 768px) {
    .proyecto__heading {
        font-size: 2rem;
    }
}
@media (min-width: 1024px) {
    .proyecto__heading {
        font-size: 3rem;
    }
}
.enlace-proyecto {
    display: inline-block;
}
.icono-flecha {
    width: 2.5rem;
    transition: transform 0.3s ease;
}
@media (min-width: 1024px) {
    .icono-flecha {
        width: 3.5rem;
    }
}
.icono-flecha:hover {
    transform: scale(1.5);
}
.proyecto__texto {
    margin: 0;
    line-height: 1.3;
    padding-top: 1.5rem;
}
@media (min-width: 768px){
    .proyecto__texto {
        font-size: 1.6rem;
    }
}
@media (min-width: 1024px){
    .proyecto__texto {
        font-size: 2.2rem;
    }
}
.logos__tecnologias {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: .5rem 1.5rem .5rem 0;
}
@media (min-width: 768px){
    .logos__tecnologias {
        grid-column: 2/4;
        padding: 0;
        margin-bottom: 1rem;
    }
}
.logo__tecGit {
    width: 4rem;
}
@media (min-width:1024px){
    .logo__tecGit{
        width: 4.5rem;
    }
}
.logo__tecnologia {
    width: 2.5rem;
}
@media (min-width:1024px){
    .logo__tecnologia{
        width: 3rem;
    }
}
.logo-github{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
    font-size: 2.8rem;
}
.logos-tech {
    /* CENTRA LOS ICONOS EN SU CONTENEDOR */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    grid-column: 4/5;
    font-size: 4rem;
}
.proyecto__imagen {
    border: 1px solid var(--primario);
    border-radius: 15px;
    width: 50%;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: var(--sombra);
}
@media (min-width: 1024px) {
    .proyecto__imagen {
        grid-column: 1/3;
    }
}
.imagen-tablet {
    display: none;
}
@media (min-width: 768px){
    .imagen-movil {
        display: none;
    }
    .imagen-tablet {
        display: block;
    }
}
@media (min-width: 768px){
    .proyecto__imagen {
        width: 100%;
        grid-row: 1/2;
        margin-left: 0;
    }
    hr {
        display: none;
    }
}
/* FIN MAIN PROYECTOS */
/* INICIO COMENTARIOS */
.comentarios {
    padding: 3rem 1rem;
    margin: 0 auto;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: var(--sombra);
}
@media(min-width: 768px) {
    .comentarios {
    
    }
}
.comentarios__formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comentarios__heading,
.mostrar-comentarios__heading{
    margin-bottom: 2.5rem;
}
@media (min-width: 768px){
    .comentarios__heading,
    .mostrar-comentarios__heading{
        font-size: 3.5rem;
    }
}
@media (min-width: 1024px){
    .comentarios__heading,
    .mostrar-comentarios__heading{
        font-size: 5rem;
    }
}
@media (min-width: 768px){
    .comentarios__bd {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}
.comentarios__campo {
    display: flex;
    flex-direction: column; 
    width: 75%;
}
.comentarios__label {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
}
@media (min-width: 1024px) {
    .comentarios__label {
        font-size: 2.1rem;
    }  
}
.comentarios__input {
    border: none;
    border-bottom: 1px solid var(--grisClaro);
    background-color: var(--blanco);
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .comentarios__input {
        font-size: 1.6rem;
    }
}
@media (min-width: 1024px) {
    .comentarios__input {
        font-size: 2.2rem;
    }
}
.contenedor__caja-boton {
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.comentarios__textarea {
    border-radius: 20px;
    border: none;
    background-color: var(--grisClaro2);
    resize: none;
    height: 4rem;
    padding: 1rem;
    /*ELIMINA BARRA DE DESPLAZAMIENTO VERTICAL*/
    overflow-y: hidden;
    width: 87%;
}
@media (min-width: 768px) {
    .comentarios__textarea {
        font-size: 1.6rem;
    }
}
@media (min-width: 1024px) {
    .comentarios__textarea {
        font-size: 2.2rem;
    }
}
.comentarios__boton {
    color: var(--primario);
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.error-mensaje__container {
    margin-bottom: 3rem;
}
.error-mensaje {
    width: 100%;
    height: auto;
    background-color: var(--rojo);
    margin-bottom: .5rem;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--blanco);
}
.error-mensaje p {
    margin: 3px 0;
}
.mostrar-comentarios{
    background-color: var(--blanco);
    margin-top: 1rem;
    padding: 3rem 1rem;
    box-shadow: var(--sombra);
}
.contenedor-comentario {
    background-color: var(--grisClaro2);
    padding: 1rem 1rem .1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}
.comentario-nombre{
    margin: 0 0 5px 0;
}
@media (min-width: 768px) {
    .comentario-nombre {
        font-size: 2rem;
    }
}
@media (min-width: 1024px) {
    .comentario-nombre {
        font-size: 2.3rem;
    }
}
.comentario-contenido {
    margin: 0;
    line-height: 1.3;
}
@media (min-width: 768px){
    .comentario-contenido {
        font-size: 1.6rem;
    }
}
@media (min-width: 768px){
    .comentario-contenido {
        font-size: 2.2rem;
    }
}
.comentario-fecha {
    font-weight: 700;
    text-align: right;
    margin: 3rem 0;
}
/* FIN COMENTARIOS */
/*FIN MAIN*/

/*INICIO PAGINA MAS*/
.body-mas {
    background-color: var(--grisClaro2);
}
.navegacion-apis {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
}
@media (min-width: 768px) {
    .navegacion-apis {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        width: 100%;
        background-color: #FFF;
    }
}
.navegacion-apis__mas {
    color: var(--secundario);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    min-height: 5rem;
    padding: 1rem 0;
    width: 100%;
    border-radius: 15px;
    background-color: var(--grisClaro2);
}
@media (min-width: 768px) {
    .navegacion-apis__mas {
        flex-direction: column;
        gap: .5rem;
        width: 10rem;
        font-size: 1.8rem;
    }
}
@media (min-width: 1024px){
    .navegacion-apis__mas {
        font-size: 2.2rem;
    }
}
.signo-interrogacion {
    width: 8%;
}
@media (min-width: 768px) {
    .signo-interrogacion {
        width: 50%;
    } 
}
.navegacion-apis__mas:first-child {
    background-color: var(--rojoPokemon);
    color: var(--blanco);
    border: none;
}
.navegacion-apis__mas--icono {
    width: 3rem;
    display: inline;
}
/*FIN PAGINA MAS*/

/*INICIO API POKEMON*/
.body-pokemon {
    background-color: var(--grisClaro2);
}

.header-pokemon {
    background-color: var(--primario);
    width: 100%;
    height: 6rem;
}
.btn-pagina-pokemon-atras {
    cursor: pointer;
    height: 100%;
    width: 5rem;
    background-color: var(--grisClaro2);
    border: none;
    border-top: 5px solid var(--primario);
    border-bottom: 4px solid var(--primario);
    border-left: 4px solid var(--primario);
}
.btn-pagina-pokemon-atras:hover {
    background-color: var(--grisClaro);
}
.contenedor-formulario__busqueda {
    background-color: var(--primario);
    height: 30rem;
    padding: 3rem 2rem 0 2rem;
    color: var(--blanco);
}
@media (min-width: 768px) {
    .formulario {
        align-items: start;
    }
}
.formulario__busqueda {
    display: flex;
    align-items: end;
    gap: 2rem;
    margin-bottom: var(--separacion);
}
.formulario__campo {
    display: flex;
    flex-direction: column;  
    width: 100%; 
}
.formulario__label {
    margin: .5rem 0;
    font-size: 3rem;
}
.formulario__input {
    border: 2px solid var(--grisClaro);
    border-radius: 5px;
    height: 4.5rem;
    width: 100%;
}
.formulario__submit {
    cursor: pointer;
    height: 4.5rem;
    background-color: var(--grisClaro2);
    border: none;
    border-radius: 5px;
    width: 4rem;
}
.formulario__submit:hover {
    background-color: var(--grisClaro);
}
.inf-busqueda-pokemon {
    height: 8rem;
    width: 75%;
    background-color: #4dad5b;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inf-busqueda-pokemon p {
    margin: 0;
    text-align: center;
    font-size: 2rem;
    line-height: 1;
    padding: 0 5px;
}
.pokemons__grid {
    height: auto;
    background-color: var(--blanco);
    padding: var(--separacion) .5rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.main-pokemon__logo {
    width: 50%;
    padding: 2rem 0;
}
@media (min-width: 768px) {
    .main-pokemon__logo {

    }
}
.botones-opciones {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: var(--separacion);
    width: 90%;
}
@media (min-width: 768px) {
    .botones-opciones {
        flex-direction: row;
        width: auto;
        gap: 2rem;
    }
}
.btn-obtener-pokemons {
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    border-radius: .3rem;
    padding: .3rem 0;
    cursor: pointer;
    height: 4rem;
}
@media (min-width: 768px) {
    .btn-obtener-pokemons {
        width: 30rem;
    }
}
.pokemons__container {
    margin: 0 auto;
    width: 90%;
}
.pokemons__containerLista {
    display: grid;
    gap: 2rem;
}

@media (min-width: 768px) {
    .pokemons__containerLista {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .pokemons__containerLista {
        grid-template-columns: repeat(4, 1fr);
    }
}

.pokemon__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: .5rem;
    background-color: var(--grisClaro2);
}

@media (min-width: 768px){
    .pokemon__card-busqueda {
        margin: 0 auto;
        width: 50%;
    }
}
@media (min-width: 1024px) {
    .pokemon__card-busqueda {
        margin: 0 auto;
        width: 27%;
    }
}
.pokemon__imagen {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

.pokemon__imagen img {
    height: 20rem;
}
.pokemon__id {
    margin: 1rem 0 0 2rem;
}
.pokemon__nombre {
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}
/*FIN API POKEMON*/

/*INICIO CONTACTO*/
.body-contacto{
    background-color: var(--grisClaro2);
}
.contacto {
    margin-top: var(--separacion);
}
@media (min-width: 768px){
    .contacto {
    
    }
}
@media (min-width: 1024px) {
    .contacto {
        
    }
}
.contacto__contenido {
    width: 23rem;
    background-color: var(--grisClaro2);
    margin: 0 auto;
    padding: 0.5rem 0 0;
    border-radius: 5px;
    border: 1px solid var(--primario);
    box-shadow: var(--sombra);
}
@media (min-width: 768px) {
    .contacto__contenido {
        width: 35rem;
        padding: 1rem 0;
    }
}

.contacto__heading {
    margin: 0;
    font-size: 2.5rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contacto__heading {
        font-size: 3.5rem;
    }
}
@media (min-width: 1024px) {
    .contacto__contenido {
        
    }
}
.informacion__1 {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    padding: 0 0 1rem ;
}
@media (min-width: 768px)  {
    .informacion__1 {
        font-size: 2.3rem;
    }
}
.informacion__correo,
.informacion__celular {
    margin: 0;
    padding: .3rem 0;
}
.informacion__correo a {
    color: var(--primario);
}
.informacion__celular a {
    color: var(--primario);
}
.informacion__redesSociales {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    column-gap: 1rem;
}
.logo-redsocial {
    width: 4rem;
}
@media (min-width: 768px) {
    .logo-redsocial {
        width: 5rem;
    }
}
/*FIN CONTACTO*/

/*PAGINA CONTACTO*/
.contacto__grid {
    display: grid;
}
@media(min-width: 768px) {
    .contacto__grid {
        /* grid-template-columns: repeat(2, 1fr); */
    }
}
.contactame {
    margin: 0 auto var(--separacion) auto;
    width: 90%;
}
.contactame__heading {
    margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
    .contactame__heading {
        font-size: 3.5rem;
    }
}
@media (min-width: 1024px) {
    .contactame__heading {
        font-size: 5.5rem;
    }
}
.contactame__formulario {

}
@media (min-width: 1024px){
    .contactame__campos { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 4rem;
    }   
}
.contactame__campo {
    margin-bottom: 2.5rem;
}
@media (min-width: 1024px) {
    .contactame__campo:nth-child(2) {
        grid-row: 2/3;
    }
    .contactame__campo:nth-child(3) {
        grid-row: 1/3;
    }
}
.contactame__label {
    display: block;
    margin-bottom: .5rem;
    font-size: 2rem;
}
.contactame__input {
    width: 100%;
    height: 4.5rem;
    border-radius: 5px;
    border: 1px solid var(--primario);
}
.contactame__textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--primario);
}
.contactame__boton{
    background-color: var(--primario);
    color: var(--blanco);
    border: none;
    border-radius: .5rem;
    padding: 1.3rem 0;
    width: 13rem;
    font-size: 2rem;
    cursor: pointer;
}
.contactame__boton:hover{
    background-color: var(--secundario);
}
@media (min-width: 1024px) {
    .contactame__boton-contenedor {
        width: 13rem;
        margin-left: auto;
    }
    .contactame__boton {
        
    }
}
/*FIN PAGINA CONTACTO*/

/* INICIO SOBRE MI */
.mask {
    background-color: var(--grisClaro2);
    margin-top: 20rem;
    padding-bottom: var(--separacion);
}
@media (min-width: 768px) {
    .mask {
        margin-top: 5rem;
    }
}
.sobre-mi{
    
}
@media (min-width: 1024px){
    .sobre-mi {
        
    }
}
.sobre-mi__cotenedor {
    margin: 0 auto;
    width: 90%; 
}
@media (min-width: 768px) {
    .sobre-mi__cotenedor {
        padding-top: var(--separacion);
    }
}
@media (min-width: 768px) {
    .sobre-mi__cotenedor {
        
    }
}
@media (min-width: 1024px) {
    .sobre-mi__cotenedor {
        
    }
}
.sobre-mi__heading {
    margin: 0
}
@media (min-width: 1024px){
    .sobre-mi__heading {

    }
}
.sobre-mi__texto {
    margin: 0;
}
@media (min-width: 1024px){
    .sobre-mi__texto {

    }
}
/* FIN SOBRE MI */

/*FOOTER*/
.footer {
    padding: 3rem 0;
    background-color: var(--primario);
}
.footer__parrafo {
    font-family: var(--fuenteFooter);
    color: var(--blanco);
    font-size: 2.5rem;
    margin: 0;
}
@media (min-width: 768px) {
    .footer__parrafo {
        font-size: 3rem;
    }
}

