<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PokéApi</title>
        <link rel="icon" type="image/png" href="/pikachu.png">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
<body class="body-pokemon">

    <header class="header-pokemon">
        <button onclick="window.location.href='/mas'" class="btn-pagina-pokemon-atras" type="submit"><img src="/arrow-back-outline.svg" alt=""></button>
    </header>

    <main>

        <div class="main__contenedor">
             <div class="main-pokemon__logo">
                <img src="/pokemonlogo.svg" alt="logo pokemon">
             </div>
        </div>
        <div class="contenedor-formulario__busqueda">
            <form class="formulario__busqueda" action="">
                <div class="formulario__campo">
                    <label class="formulario__label" for="nombre-numero">Nombre o número</label>
                    <input class="formulario__input" type="text" id="nombre-numero">
                </div>
                <button class="formulario__submit" type="submit"><img src="/search-outline.svg" alt=""></button>
            </form>
            <div class="inf-busqueda-pokemon">
                <p>Busca un Pokémon por su Nº o nombre.</p>
            </div>
        </div>
 
     </main>
     <section>
        <div class="pokemons__grid">
            <div class="botones-opciones">
                <button class="btn-obtener-pokemons">Listar Pokémons</button>
            </div>
            <!-- SOLO DEBE HABER UN CONTENEDOR PARA PODER LIMPIARLO FACILMENTE -->
             <div class="pokemons__container"></div>
         </div>
     </section>
     <footer class="footer"></footer>
    <script src="/pokemon.js"></script>
</body>
</html>