<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PokéApi</title>
        <link rel="icon" type="image/png" href="/pikachu.png">
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/styles.css">
    </head>
<body class="body-pokemon">

    <header class="header-pokemon">
        <div class="header-pokemon__contenedor">
            <div class="formulario">
                <form class="formulario__busqueda" action="">
                    <div class="formulario__campo">
                        <label class="formulario__label" for="nombre-numero">Nombre o número</label>
                        <input class="formulario__input" type="text" id="nombre-numero">
                    </div>
                    <input class="formulario__submit" type="submit" value="Buscar">
                </form>
            </div>
        </div>
    </header>

    <main>

        <div class="main__contenedor">
             <div class="main-pokemon__logo">
                <img src="/pokemonlogo.svg" alt="logo pokemon">
             </div>
             <div class="main-pokemon__grid">
                <div class="botones-opciones">
                    <button class="btn btn-obtener-pokemons">Lista</button>
                    <button class="btn ">Boton 2</button>
                    <button class="btn ">Boton 3</button>
                </div>
                <!-- SOLO DEBE HABER UN CONTENEDOR PARA PODER LIMPIARLO FACILMENTE -->
                 <div class="pokemons__container"></div>
             </div>

        </div>
 
     </main>

    <script src="/pokemon.js"></script>
</body>
</html>